@charset "utf-8";
body {
    font-family: "Microsoft Yahei", Arial, Verdana;
    background: #efefef url('../img/ticks.png') repeat 0 0;
    margin: 15px 0 0 0;
    font-size: 12px;
}

.container {
    position: relative;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* filters */
#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
}

#filters li {
    float: left;
}

#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

#filters li span.active {
    background: #6195b7;
    color: #fff;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 1%;
    display: none;
    float: left;
    overflow: hidden;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    text-align: center;
    cursor: pointer;
}

.portfolio img {
    width: 100%;
    position: relative;
}

.portfolio-wrapper img {
    width: 100%
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    left: 0;
}

.portfolio .label-bg {
    background: #2f7db2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/*  #Mobile (Portrait) - Note:Design for a width of 320px */
/*@media only screen and (max-width: 767px) {*/
    /*#portfoliolist .portfolio {*/
        /*width: 48%;*/
        /*margin: 1%;*/
    /*}*/
/*}*/

/* #Mobile (Landscape) - Note:Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after, .clearfix:after {
    clear: both;
}

.row, .clearfix {
    zoom: 1;
}